
.orb {
    width: 100%;
    box-sizing: content-box;
    border: 3px solid transparent;
    border-radius: 25px;
}


.arrows {
    height: 30px;
    width: auto;
    cursor: pointer;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Fire_Emblem_Heroes_Font.ttf') format('truetype');
  }

h1 {
      font-family: 'main', Arial, Helvetica, sans-serif;
      color: gold;
  }

p, label {
    font-family: 'main', Arial, Helvetica, sans-serif;

    color: black;
    font-size: 20px;
}


body {
    background-color:black;
}


#summon-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.selectedOrb {
    background-color: gold;
    border: 5px solid white;
    border-radius: 25px;
}

.orb-input {
    width: 2em; 
    height: 2em;
}

#trials {
    width: 4em; 
    height: 2em;
}

#histo-holder, 
#stats, 
#orb-picker-container {
    border: 10px solid yellow;
    background-color: silver;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}

#last-updated {
    color: yellow;
    font-size: 12px;
}

.about-list-item {
    font-size: 24px;
    line-height: 200%;
    margin-bottom: 20px;
}

#median {
    font-weight: bold;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: yellow;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: yellow;
}

#error-section {
    visibility: hidden;
}

#error-message {
    font-size: 12px;
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.error {
    font-size: 12px;
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (min-width: 992px) { 
    

    .main {
        width: 800px;
    }

    #these-orbs {
        text-align: center;
    }

    #error-message {
        font-size: 16px;
    }

    .orb-input {
        width: 3em; 
        height: 2em;
    }

    #trials {
        width: 4em; 
        height: 2em;
    }

}