
.orb {
    width: 100%;
    box-sizing: content-box;
}

#orb-picker-container {
    border: 10px solid yellow;
    background-color: silver;
}

@font-face {
    font-family: 'main';
    src: url('../fonts/Fire_Emblem_Heroes_Font.ttf') format('truetype');
  }

h1 {
      font-family: 'main', Arial, Helvetica, sans-serif;
      color: gold;
  }

p {
    font-family: 'main', Arial, Helvetica, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: 18px;
}
  .arrows {
      height: 30px;
  }

body {
    background-color:black;
}

#summon-button {
    margin-top: 10px;
}

.selectedOrb {
    background-color: gold;
    border: 3px solid white;
    border-radius: 25px;
}